@charset "UTF-8";

body{
    background-image: url(images/bg-desktop.svg);
    background-color:  hsl(257, 40%, 49%);
    background-size: cover;
}

header {
    margin: 20px 30px;
}

main {
    display: flex;
    padding: 20px;
    width: 90%;
}

article img {
    margin-top: -30px;
}

article, aside {
    display: flex;
    flex-direction: column;
}

aside h1, p {
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    color: white;
}

aside h1{
    font-weight: 600;
}

aside a {
    box-shadow: 1px 2px 9px rgba(0, 0, 0, 0.566);
    border-radius: 25px;
    width: 100px;
    padding: 10px; 
    margin-left: 20px; 
    background-color: white; 
    color: hsl(257, 40%, 49%);
    text-align: center;
    text-decoration: none;
}

#leandro {
    text-decoration: none;
    color: white;
}
    



